{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/alex-motoc-7NhFrPxlgM8-unsplash.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About The Blog</h1>
            <span class="subheading">This is what the blog is all about.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>As an avid sports fan and in particular a football enthusiat, I thought it wise to learn by doing and create this sport blog which takes moment captured in the news during the sports weekend.</p>
        <p>The concentration of the blog is mainly on football and basketball. There could be the occasional boxing story or a story from motor Gp, Tennis, or any other racing sports</p>
        <p>The blog is fun and would create a very easy access to all the latest news in the world of sports. Lets get ready to rumbbblllleeeeee!!!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}